body {
  margin-left: 10px;
  height: 100vh;
}
@font-face {
  font-family: "Azonix";
  src: url("../fonts/Azonix.otf");
}
@font-face {
  font-family: "AmericanTypeWriter";
  src: url("../fonts/American\ type\ writer.ttf");
}
#main-content {
  margin-top: 60px;
  height: inherit;
}
img.lg-img {
  width: 90%;
  margin: 11px;
  border-radius: 20px;
}
p.lg-p {
  font-size: large;
}
.btn.btn-enhance:hover {
  font-weight: 500;
  transform: translateY(-1px);
}
.btn.btn-paginator {
  background-color: white;
  border: 2px solid #00d3d3;
  width: 2em;
  padding: 1px;
  font-weight: 500;
  border-radius: 0px;
}
.btn.btn-paginator:hover {
  background-color: #00f2f2;
}
.animefashion-logo.logo {
  color: aqua;
  font-family: "Azonix";
}
.hover-push:hover {
  transform: translateY(-3px);
}
.form-bg {
  background: linear-gradient(-87deg, #F2F5F6 0%, #c8e5f0 100%);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: #fff;
  border-radius: 20px;
  min-width: 400px;
  min-height: 450px;
  padding: 1em 3em 1em 3em;
}
.form-head {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 2px solid #1b96df;
  padding-bottom: 0.5em;
}
.form-control:focus {
  border-color: blue;
}
.form-control.input-small-number{
  width: 6em;
}
.btn.btn-outline-primary {
  position: relative;
  left: 37%;
  border: 2px solid;
  padding: 0.3em 1em;
}
.alert.alert-sm {
  font-size: 0.9rem;
  margin: 0em 1em;
  padding: 1em;
  display: block;
  text-align: center;
}
.alert.alert-lg {
  font-size: 1.3rem;
  margin: 0em 1em;
  padding: 1em;
  display: block;
  text-align: center;
}

@media (max-width : 767px) {
  footer {
    position: absolute;
    top: 200%;
  }
}