{% extends "index.html" %}
{% load discount_price_calc %}

{% block title %}
AnimeFashion | {{ product }}
{% endblock title %}

{% block content %}
<div class="row container-fluid">
    <div class="col-md-4 ">
        <img src="{{product.image.url}}" alt="{{product}}" class="lg-img">
    </div>
    <div class="col-md-8">
        <h5>{{ product.category }}</h5>
        <h1>{{ product }}</h1>
        <span style="font-size: 1.5rem; font-weight: bold;">&#8377 {{ product|discount_price_calc }} &nbsp; </span>
        <del><span>&#8377 {{ product.mrp }}</span></del>
        <span style="color: green; font-weight: 500;">&emsp; {{ product.discount_percent }}% off</span>
        <p class="lg-p">{{ product.description }}</p>

        <form action="" method="post" class="if_available">
                {% csrf_token %}
            <input type="hidden" name="product" value="{{ product.id }}">
            {% for product_size in product.avilable_sizes.all %}
                {% if product_size.stock > 0 %}
                    <input type="radio" name="size" value="{{product_size.size}}">
                    <label for="size">{{ product_size.size }} &emsp; </label>
                {% endif %}
            {% endfor %}
            <br><input class="input input-small-number" type="number" name="quantity">
        </form>

        <div class="m-2">
            <a class="btn btn-dark btn-enhance col-md-4" href="#">Add to cart</a>
            <a class="btn btn-primary btn-enhance col-md-4" href="#">Buy now</a>
        </div>
    </div>
</div>
{% endblock content %}