{% extends "index.html" %}

{% block title %}
AnimeFashion | {{ product }}
{% endblock title %}

{% block content %}
<div class="row container-fluid">
    <div class="col-md-4 ">
        <img src="{{product.image.url}}" alt="{{product}}" class="lg-img">
    </div>
    <div class="col-md-8">
        <h5>{{ product.category }}</h5>
        <h1>{{ product }}</h1>
        <span style="font-size: 1.5rem; font-weight: bold;">&#8377 {{ product.selling_price }} &nbsp; </span>
        <del><span>&#8377 {{ product.mrp }}</span></del>
        <span style="color: green; font-weight: 500;">&emsp; {{ product.discount_percent }}% off</span>
        <p class="lg-p">{{ product.description }}</p>

        {% if product.is_available %}
            <form action="" method="post">
                    {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.id }}">
                {% for product_size in product.product_size.all %}
                    <div class="form-check-inline">
                        {% if product_size.is_available %}
                            <input type="radio" class="form-check-input" name="size" value="{{product_size.size}}">
                        {% else %}
                            <input type="radio" disabled class="form-check-input" name="size" value="{{product_size.size}}">
                        {% endif %}
                        <label class="form-check-label" for="{{product_size.size}}">{{ product_size.size }} &emsp; </label>
                    </div>
                {% endfor %}
                <br>
                <div class="form-group">
                    <label for="quantity">Quantity : </label>
                    <input class="form-control input-small-number" type="number" name="quantity">
                </div>
            </form>

            <div class="m-3">
                <a class="btn btn-dark btn-enhance col-lg-4" href="#">Add to cart</a>
                <a class="btn btn-primary btn-enhance col-lg-4" href="#">Buy now</a>
            </div>
        {% else %}
        <span class="alert alert-sm alert-danger">Out of Stock !</span>
        {% endif %}
    </div>
</div>
{% endblock content %}